* {
  box-sizing: border-box;
}
/*Bepaalt of de rand en binnenruimte van een element bij de afmetingen worden opgeteld zodat het element niet groter wordt dan je instelt*/

html {
  height: 100vh;
}

/*vh staat voor viewport height. 1vh staat gelijk aan 1% van the viewport height. */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  color: #1c1d20;
}

/*De body (card) wordt flexibel door de display op flexibel te zetten*/
/*De CSS justify-content bepaalt hoe de browser ruimte verdeelt tussen en rondom elementen binnen een flex-container zodat de inhoud netjs uitgelijnd wordt binnen een*/

h3, p {
  padding-left: 3rem;
  padding-right: 15rem;
}
/*Hiermee heb ik de de plaatsing van mijn header en paragraaf bepaald*/

article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
  height: 300px;
  max-width: 30em;
  min-width: 30em;
  border-radius: 1rem;
  background: #d7d5cd;
  transition: 0.5s;
}

@media only screen and (max-width: 430px) {
  main{
    width: 300px
  }
}

/*Met de background propertie heb ik een value (kleurcode) gegeven aan de achtergrond van mijn visitekaartje*/
/*Position: relative beteken dat een element normaal op de pagina wordt geplaatst, maar dta je het daarna kunt verplaatsen ten opzichte van zijn normale postitie. Je kun het verschuiven met de eigenschappen: top, bottom, left en right.*/
/*display: flex: dit zorgt ervoor dat een container een flexbox wordt. Dit betekent dat de items binnen die container automatisch flexibel zijn */
/*Met border-radius maak ik mijn randen rond*/

button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  border: none;
  border-radius: 90%;
  background: rgb(8, 8, 8);
  transform: scale(.8);
  transition: 1s;
  cursor: pointer;
}

/*Right, top, width, height, padding bepaalt de vorm en positie van de button.*/
/*De transition bepaalt de tijd waarin de button verschijnt */
/*Met de cursor: pointer verandert de pointer is een hand als je over de button veegt*/

button:focus {
  outline: none;
  background: #0e0e1f;
}
button:focus svg {
  stroke: rgb(251, 251, 255);
}

/*Met de focus selector veranderen de boogjes in de inzoombutton wanneer die wordt aangeklikt*/

svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 12px);
  stroke: #f4f4f8;
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity: 0;
  transition-delay: 0ms;
}

img {
  position: relative;
  top: 0rem;
  height: auto;
  transition: .5s;
}

/* expand content: oftwel wat er gebeurd als de afbeelding wordt vergroot */
body.expand {
  font-size: 1.15em;
}

body.expand article {
  width: 400px;
  max-width: 300px;
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand img {
  width: 29em;
}
